/* ************************ */
/*        COMMONS           */
/* ************************ */

/* Reset básico para manejar consistencia en todos los navegadores */
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* Contenedor principal: Ver bg-img de fondo completa */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* ************************ */
/*         CUSTOM CSS       */
/* ************************ */

.btn-main {
  height: 50px;
}

/* MAIN BG IMG */
.bg-image {
  background-image: url('@/assets/bg-main-image.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Comanda BG IMG */
.card-bg-image {
  background: url('@/assets/hoja-comanda.png') top center no-repeat !important;
  background-size: contain;
  height: 27rem;
  width: auto;
}

/* Productos BG IMG */
.bg-shelv-image {
  background-image: url('@/assets/bg-shelv.JPG');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.selector-cantidad {
  width: 15rem;
}
.cantidad {
  font-size: 2.5rem;
  padding-left: 2rem;
  font-weight: bold;
  color: #007651;
}

.mh-40 {
  max-height: 40rem;
}

.mh-60 {
  max-height: 60rem;
}

.overflow-hidden-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ############################### */
/*              MESAS              */
/* ############################### */
.mesa {
  /* Base CSS for all mesas */
  margin: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  background-color: var(--mesa-color, #f0f0f0);
}

.mesa:hover {
  transform: scale(1.05);
}
.mesa-text {
  color: #ffffff;
  font-size: 1.1rem;
}

.round-table {
  border-radius: 50%;
}

.square-table {
  border-radius: 0;
}

.rectangular-table {
  border-radius: 15px;
}

.oval-table {
  border-radius: 50%;
  transform: scale(1, 0.9);
  font-size: 1.3rem;
}

.l-shaped-table {
  height: 150px;
  width: 330px;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
}

.l-shaped-table-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.t-shaped-table {
  height: 150px;
  clip-path: polygon(
    0 33%,
    33% 33%,
    33% 0,
    66% 0,
    66% 33%,
    100% 33%,
    100% 66%,
    66% 66%,
    66% 100%,
    33% 100%,
    33% 66%,
    0 66%
  );
}

.u-shaped-table {
  border-radius: 5px;
  height: 150px;
  width: 350px;
  clip-path: polygon(0 0, 33% 0, 33% 66%, 66% 66%, 66% 0, 100% 0, 100% 100%, 0 100%);
}
.u-shaped-table-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.cut-corners-table {
  clip-path: polygon(15% 0, 100% 0%, 100% 85%, 85% 100%, 0 100%, 0% 15%);
}

.hexagon-table {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.octagon-table {
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

/* ############################### */
/*        CAROUSEL VUETIFY3        */
/* ############################### */

.carousel__slide {
  padding: 50px;
}

.carousel__viewport {
  perspective: 2000px;
}

.carousel__track {
  transform-style: preserve-3d;
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide {
  opacity: 0.9;
  transform: rotateY(-20deg) scale(0.9);
}

.carousel__slide--active ~ .carousel__slide {
  transform: rotateY(20deg) scale(0.9);
}

.carousel__slide--prev {
  opacity: 1;
  transform: rotateY(-10deg) scale(0.85);
}

.carousel__slide--next {
  opacity: 1;
  transform: rotateY(10deg) scale(0.85);
}

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.15);
}

/* ############################### */
/*            Responsive           */
/* ############################### */

/* Mobile screen */
@media (max-width: 600px) {
  .card-bg-image {
    background-size: cover;
  }
  .button-cantidad {
    width: 20px;
    height: 20px;
  }

  .selector-cantidad {
    width: 8.5rem;
  }

  .cantidad {
    font-size: 1.4rem;
    padding-left: 0;
  }

  .btn-main {
    height: 45px;
  }
}
