/* ************************ */
/*        COMMONS           */
/* ************************ */

/* Reset básico para manejar consistencia en todos los navegadores */
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* Contenedor principal: Ver bg-img de fondo completa */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* ************************ */
/*       MY CUSTOM CSS        */
/* ************************ */

/* MAIN BG IMG */
.bg-image {
  background-image: url('@/assets/bg-main-image.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Comanda BG IMG */
.card-bg-image {
  background: url('@/assets/hoja-comanda.png') top center no-repeat !important;
  height: 27rem;
  width: auto;
}

/* Productos BG IMG */
.bg-shelv-image {
  background-image: url('@/assets/bg-shelv.JPG');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.selector-cantidad {
  width: 15rem;
}
.cantidad {
  font-size: 2.5rem;
  padding-left: 2rem;
  font-weight: bold;
  color: #007651;
}

.mh-40 {
  max-height: 40rem;
}

.mh-60 {
  max-height: 60rem;
}

.overflow-hidden-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* *************************** */
/*           CAROUSEL   [DMO:BORRAR]       */
/* *************************** */
.activeClasses {
  margin-top: 4rem;
  .carousel__item p {
    color: #fdda00;
    font-weight: bold;
  }
  .carousel__slide {
    padding: 5;
  }

  .carousel__viewport {
    perspective: 2000px;
  }

  .carousel__track {
    transform-style: preserve-3d;
  }

  .carousel__slide--sliding {
    transition: 0.5s;
  }

  .carousel__slide {
    opacity: 0.9;
    transform: rotateY(-20deg) scale(0.9);
  }

  .carousel__slide--active ~ .carousel__slide {
    transform: rotateY(20deg) scale(0.9);
  }

  .carousel__slide--prev {
    opacity: 1;
    transform: rotateY(-10deg) scale(0.95);
  }

  .carousel__slide.carousel__slide--next {
    opacity: 1;
    transform: rotateY(10deg) scale(0.95);
  }

  .carousel__slide--active {
    opacity: 1;
    transform: rotateY(0) scale(1);
  }
}
